.Main-content-format {
  display: flex;
  flex-direction: row;
  background-color: rgb(51, 204, 255);
  padding-top: 10px;
  width: 110%;
  height:800px;
}
.Header {
  width: 100%;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin-left: 5px;
  padding-left: 200px;
  padding-top: 20px;
}
.Response {
  width: 120%;
  height: 60px;
  margin-top: 25px;
  margin-bottom: -10px;
  margin-left: 20px;
  padding-left: 5px;
  padding-top: 15px;
}
.GameBox {
  width: 150%;
  height: 400px;
  margin-top: -10px;
  margin-bottom: 5px;
  margin-left: 5px;
  padding-left: 20px;
  padding-top: 15px;
}
.Button {
  border: 1.5px white solid;
  border-radius: 1px;
  padding-top:1.5px;
  font-family: 'Patua One', cursive;  
  font-size: 18px;
  width: auto;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  -moz-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  margin-left: 140px;
  margin-right: 15px;
  margin-top: 5px;
}
.Button:hover {
  background-color: white;
  color: rgb(51, 204, 255);
}
.ScoreBoard {
  width: 143px;
  height: 120px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 15px;
  font-size: 25px;
  border: 1px solid white
}

.WordBoard {
  width: 143px;
  height: 400px;
  border: 1px solid white;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: 5px;
  padding-left: 5px;
  padding-top: 15px;
}

.LeftSide {
  width: 60%;
  padding-left: 12px;
  height: 50%;
  margin-right: 10%;
}

.RightSide {
  width: 15%;
  height: 62%;
  margin-left: 5%;
  margin-top: 6%;
}

.HeadLine{
  margin-left: 150px;
  padding: 0.6rem 0;
  width: 800px;
  text-align: center;
  font-family: 'Leckerli One', cursive;
  font-size: 60px;
  color: white;
  margin-bottom: -20px;
}

input {
  transition: 0.3s all;
  font-family: 'Patua One', cursive;
  border-radius: 0.3rem;
  padding: 1.2rem;
  font-size: 2.2rem;
  width: 220px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.9);
}

input::placeholder {
  color: rgb(200, 200, 200);
}

input:focus {
  outline: none;
  background-color: rgba(255, 255, 255, 1.0);
}

button {
  border: 1.5px white solid;
  border-radius: 1px;
  padding-top:1.5px;
  font-family: 'Patua One', cursive;  
  font-size: 18px;
  width: 100px;
  background-color: rgba(255, 255, 255, 0);
  color: white;
  -moz-transition: 0.3s all;
  -webkit-transition: 0.3s all;
  -o-transition: 0.3s all;
  transition: 0.3s all;
  margin-left: 140px;
  margin-right: 15px;
  margin-top: 5px;
}
button:hover {
  background-color: white;
  color: rgb(51, 204, 255);
}

.GameFrame {
  padding-top: 10px;
  background-color: rgb(51, 204, 255);
  height: 800px;
}